:root {
  --beige: #faf0ca;
  --beige-1: #e1d8b5;
  --beige-2: #c8c0a1;
  --beige-3: #afa88d;
  --orange: #f95738;
  --orange-1: #d3472e;
  --red: #e74c3c;
  --red-1: #c0392b;
  --blue: #3498db;
  --blue-1: #2980b9;
  --grey: #575757;
  --cream: #f5f5dc;
  --yellow: #f4d35e;
  --yellow-1: #e2bc4a;
  --white: #ffffff;
  --white-1: #d3d3d3;
  --black: #000000;
  --error-text: #b71c1c;
  --error-bg: #ffcdd2;
  --info-text: #0d47a1;
  --info-bg: #bbdefb;
  --success-text: #2e7d32;
  --success-bg: #c8e6c9;
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  flex: 1;
}
