:root {
  --beige: #faf0ca;
  --beige-1: #e1d8b5;
  --beige-2: #c8c0a1;
  --beige-3: #afa88d;
  --orange: #f95738;
  --orange-1: #d3472e;
  --grey: #575757;
  --cream: #f5f5dc;
  --yellow: #f4d35e;
  --yellow-1: #e2bc4a;
  --white-1: #d3d3d3;
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  flex: 1;
}
